@keyframes animacao{
    /* from{background-color: purple; }
    to {background-color: yellow;} */
    0%{background-color: purple;}
    50%{transform: translate(0%,5%);}
    100%{background-color: aqua;transform: translate(0%,0%);}
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 300px;
    height: 300px;
    background-color: purple;
    animation-name: animacao;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    position: absolute;
}