@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

:root{
    --darkred: #8D121B;
    --black: rgb(12, 12, 12);
    --black2: rgb(29, 29, 29);
    --gray: #222222;
    --text: 'Poppins', sans-serif;
    --title:  'Belanosima', sans-serif;

}
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--black);
    color: white;
}

p{
    font-family: var(--text);
}

.cabeca{
    background: var(--gray);
}

.cabeca nav{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin: auto;
    padding: 13px 0px 2px 0;
    font-family: var(--title);
}

.cabeca nav a{
    text-decoration: none;
    color: white;
}

header{
    font-family: var(--text);
    height: fit-content;
    min-height: 60px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
}

.titulo{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

header h1{
    font-family: var(--title);
    font-size: 40px;
    margin-left: 10px;
}

h2{
    font-family: var(--title);

}

header a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    margin-left: 40px;
    text-align: center;
}

header a:hover{
    background-color: var(--darkred);
    transition: 0.2s;
}

.destaque{
    margin-top: 40px;
}

#programacao{
    width: 60%;
    margin: 50px auto;
    padding: 20px;
}

#programacao h2{
    padding: 10px;
    text-align: center;
    font-size: 40px;
}

.filmes{
    overflow-y: hidden;
    overflow-x:scroll;
    min-width: 200px;
    max-width: 900px;
    height: 400px;
    white-space:nowrap;
    margin: 100px auto ;
}

.filmes figure{
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 240px;
    border-radius: 10px;
}

.filmes figure figcaption{
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    text-align: center;
    white-space: normal;
    text-decoration: none;
    color: white;
    background-color: #8d121ada;
    transition: 400ms ease;
    opacity: 0;
}

.filmes figure figcaption P{
    padding: 150px 10px;
}

.filmes img{
    width: 240px;
    position: relative;
}


.filmes figure:hover figcaption{
    opacity: 1;
}

.snackbar h2{
    text-align: center;
    font-size: 40px;
}

#produtos{
    padding: 20px;
    min-width: 340px;
    max-width: 680px;
    display: flex;
    overflow-y: hidden;
    overflow-x:scroll;
    margin: 40px auto;
}

span{
    word-break: normal;
    padding: 10px;
}

span img{
    width: 320px;
}

footer{
    margin-top: 40px;
    padding: 30px 0;
    background: var(--gray);
    text-align: center;
}

