@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --dark10: #121214;
    --dark20: #17171A;
    --dark30: #202024;
    --dark40: #252529;
    --dark50: #AFABB6;
    --brand-color: #E07B67;
    --purple: #574AE8;
    --blue: #3EA1DB;
}

*{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 250px;
    background: linear-gradient(88deg,var(--purple),var(--blue));
    font-family: 'Inter', sans-serif;
    color: white;
}

.header-content{
    width: 900px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}

.input-container{
    width: 100%;
    height: 65px;
}

.input-container label{
    width: 20%;
}

.input-container input{
    width: 80%;
    border: 0;
    background-color: transparent;
}