@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --dark-purple: #2F0549;
    --light-purple: #820AD1;
    --light-gray: #F5F5F5;
    --light-dark: #111111;
}


*{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

body{
    height: 200vh;
    background-color: lightgray;
}
nav{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 5px;
    border-bottom: 1px solid gray;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

nav h3{
    color: var(--light-purple);
    font-size: 32px;
}
.more-information-menu{
    display: flex;
    gap: 20px;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}


ul li{
    display: inline-block;
    position: relative;
    font-size: 21px;
}

ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: rgb(138, 138, 138);
    transition: .3s all ease-in;
}

ul li ul.dropdown{
    position: absolute;
    z-index: 999;
    display: none;
    transition: 1s all ease;
    border: 1.5px solid #858585;
    border-radius: 7px;
    padding: 5px 0;
    background-color: white;

}

ul li ul.dropdown li{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    transition: .5s all ease;
    font-size: 18px;
}

ul li ul.dropdown li a{
    color: #111111;
}

ul li ul.dropdown li:hover{
    background-color: rgb(138, 138, 138);
}

ul li a:hover{
    color: #111111;
}

ul li:hover ul.dropdown{
    display: block;
}

.login p a{
    text-decoration: none;
    color: rgb(138, 138, 138);
    transition: .3s all;
    font-size: 18px;
}

.login p a:hover{
    color: black;
}