@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 120px;
    border-bottom: 1px solid gray;
}
.social-icons{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 20px;
}

.social-icons i{
    font-size: 28px;
}
.title h1{
    font-family: 'Dhurjati', sans-serif;
    font-size: 60px;
    height: 100px;
}

.more-icons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.more-icons i{
    font-size: 28px;
}

.informations{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    font-size: 20px;
}

.news-container{
    max-width: 1150px;
    margin: 0 auto;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 500px;
    gap: 20px;
    padding: 20px;
}

.news{
    
    display: flex;
    align-items: end;
    padding: 0px 10px 10px 10px;
}
#xbox{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)),url(xbox.jpeg);
    background-position: center center;
    background-size: cover;
}


#cyberpunk{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)),url(cyberpunk.jpeg);
    background-position: center center;
    background-size: cover;
    
}

#multiversus{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)),url(multiversus.jpeg);
    background-position: center center;
    background-size: cover;
}

#ea{
    background-image: linear-gradient(180deg,rgba(0,0,0,0), rgba(0,0,0,8)),url(car.png);
    grid-column-start: 1;
    grid-column-end: 4;
    background-position: center center;
    background-size: cover;
    transition: .5 all;
}
.description{
    color: white;
    width: 100%;
    
}

.description p{
    font-weight: bolder;
}

.news:hover{
    background-color: white;
    cursor: pointer;
}