@charset "UTF-8";
:root{
    --verde: #48a09d;
    --lilas: #5f2c82;
    --preto: #000000;
    --branco: #ffffff;
}

@media screen and (min-width:768px){
    body{
        background-image: linear-gradient(-135deg, var(--verde), var(--lilas) 60%);
    }
    #login{
        width: 80vw;
        height: 280px;
    }

    #login #imagem{
        float: left;
        width: 35%;
        height: 100%;
    }
    #login #formulario{
        float: right;
        width: 65%;
    }
}

@media screen and (min-width:992px){
    body{
        background-image: linear-gradient(-135deg, var(--verde), var(--lilas) 60%);
    }
    #login{
        width: 940px;
        height: 320px;
    }
    
    #login #imagem{
        float: right;
        width: 45%;
        height: 100%;
    }

    #login #formulario{
        float: left;
        width: 55%;
    }
    #formulario h1{
        font-size: 1.6em;
    }
    #formulario p{
        font-size: 1.2em;   
    }
}
