.container{
    width: 100%;
    height: 100%;
    display: grid;
    /* grid-template-columns: 300px 300px; */
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: 300px 300px 300px;
    /* align-items: center;
    justify-items: center; */
    /* grid-template-areas: 
    "green yellow"
    "red blue"; */
}
div{
    width: 200px;
    height: 200px;
}

.red{
    background-color: red;
    /* grid-area: red; */
}
.blue{
    background-color: blue;
    /* grid-area: blue; */
}
.green{
    background-color: green;
    /* grid-area: green; */
}
.yellow{
    background-color: yellow;
    /* grid-area: yellow; */
}