@keyframes ghost {
    0%{}
    50%{
        transform: translate(0%,50%);
    }
}

*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(130.02deg,#628e75 .66%,#1a4855 83.32%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

header{
    color: white;
    display:flex;
    justify-content: space-between;
    padding: 30px;
}

.social-logos{
    display: flex;
    gap: 30px;
    font-size: 18px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.image-content{
    color: white;
    font-size: 128px;
    padding-bottom: 120px;
    width: 600px;
}

.ghost-container{
    animation-name: ghost;
    animation-duration:5s;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.text-content{
    /* align-self:first baseline; */
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.text-content h1{
    font-size:68px;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttons a{
    text-decoration: none;
    padding: 14px 32px;
}

.agora{
    background-color: #f1a5b1;
    
    color: black;
    border-radius: 5px;
}

.trailer{
    border: 2px solid #f1a5b1;
    border-radius: 5px;
    color: white;
}