@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --color-green: #5C8C46;
    --color-darkgreen: #327355;
    --color-bluegreen: #2A5159;
    --color-lightblue: #183B59;
    --color-blue:#0B2559;
    --color06:rgb(1, 138, 92);
    --color-gradient: linear-gradient(90deg, var(--color-darkgreen),var(--color-bluegreen));
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-titulos: Poppins, sans-serif;
}

*{  
    margin: 0;
    padding: 0;
}

body{
    background: var(--color-gradient);
}

header{
    font: var(--fonte-titulos);
    background: var(--color-blue);
    padding: 10px;
    font-family: var(--fonte-titulos);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    min-height: 100px;
}

header h1{
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.399);
}

header p{
    text-align: center;
    margin-top: 10px;
    max-width: 500px;
    margin: auto;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.399);
}
nav{
    margin-top: 30px;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    transition-duration: 0.3s;
}

nav a:hover{
    background: var(--color-lightblue);
}

nav a:active{
    background-color: var(--color-darkgreen);
}

main{
    background-color: #FCF5EB;
    width: 80%;
    margin: 10px auto 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

main h1{
    font-family: var(--fonte-titulos);
    color: #005C53;
}

main h2{
    background-image: linear-gradient(to right,#005C53 50%, #dcfffc);
    color: whitesmoke;
    font-family: var(--fonte-titulos);
    padding-left: 20px;
}

p{
    margin: 10px 0;
    text-align: justify;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
}
#dan-droids{
    display: block;
    margin: auto;
}

#bugdroid{
    display: block;
    margin: auto;
}

#video{
    background-color: #042940;
    margin: 0 -10px 30px -10px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

#video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 82%;
    height: 90%;
}




#irina{
    display: block;
    margin:auto
}



article#mais{
    background-color: var(--color-lightblue);
    color: white;
    font-family: var(--fonte-titulos);
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

p#aprender{
    margin-top: 30px;
    background-color: var(--color-bluegreen);
    margin-bottom: 0;
    padding-left: 10px;
    padding-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

main ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

.esquerda li{
    text-decoration: underline;
}

main a{
    text-decoration: none;
    background: var(--color06);
    padding: 1px;
    color: #042940;
    border-radius: 2px;
}


main a:hover{
    text-decoration: underline;
}

main a::after{
    content: '\1F517';
}

span#destaque{
    color: var(--color06);
    font-weight: bold;
}

footer p{
    font-family: var(--fonte-titulos);
    margin-top: 20px;
    text-align: center;
    color: var(--color06);
    background-color: black;
}