@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(90deg, #FFC991, #f89c67);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #be913b;
}
h1{
    color: #8CA07D;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(129, 77, 5, 0.726);
}
h2{
    color: #C4D1CA;
}
p{
    text-align: justify;
}

h2#tit3{
    background-image: linear-gradient(90deg,blue,yellow,green);
}
